:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --animationDuration: 500ms;
  --plainBackgroundColor: #FDF2E9;
  --animationTimeFunction: cubic-bezier(.32, .7, .28, .94);
}

* {
  box-sizing: border-box;
  color: black;
  font-weight: bolder;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--plainBackgroundColor)
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





/* Customization */
.main_container {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  gap: 20px;

}

/* Display */
.display_container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  min-width: 200px;
}

.display_piece {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  background-color: var(--plainBackgroundColor);
  height: 250px;
  width: 250px;
}

.display_score {
  border: 5px solid black;
  background-color: var(--plainBackgroundColor);
  display: flex;
  justify-content: end;
  padding: 5px;
}

/* Place */
.place_container {
  position: relative;
  border: 5px solid black
}

.place_yAxis {
  display: flex;
  position: relative;
}


/* Clean Animation */
.place_animation_container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.place_animation_block1 {
  height: 100%;
  width: 0;
  animation-name: animation_block1;
  animation-timing-function: var(--animationTimeFunction);
  animation-duration: var(--animationDuration);
  background-color: black;
}

@keyframes animation_block1 {
  0% {
    width: 0;
  }

  40% {
    width: 110%;
  }

  100% {
    width: 0;
  }
}

.place_animation_block2 {
  height: 100%;
  width: 0;
  animation-name: animation_block2;
  animation-duration: var(--animationDuration);
  animation-timing-function: var(--animationTimeFunction);
  background-color: var(--plainBackgroundColor);
}

@keyframes animation_block2 {
  40% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}


.place_popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.place_popup_block {
  width: 250px;
  padding: 10px;
  border: 5px solid black;
  background-color: var(--plainBackgroundColor);

}